.WatchList {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 150px;
        max-width: 250px;
        border-bottom: 1px solid snow;
        font-size: 1rem;
        &:hover {
            cursor: pointer;
            /*scale: 105%;*/
            box-shadow: 0 0 20px 0 rgb(211, 47, 47);
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 150px;
        }
    }

    .heartContainer {
        height: 40px;
        position: absolute;
        top: -25px;
        left: 50%;
    }
}