.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2.2rem 0 0.5rem;
    height: 100%;
    background-color: snow;
    color: #fff;}