.posterPreview {
    align-self: center;
    border: 3px solid cornflowerblue;
    border-radius: 10px;

    :active {
        scale: 90%;
    }

    .img {
        width: 70vw;
        max-width: 70vw;
    }
}