.posterPreview {
    margin: 5px 100px;
    width: 95px;
    align-self: center;
    border: 3px solid cornflowerblue;
    border-radius: 10px;

    :active {
        scale: 90%;
    }
}
.img {
    max-width: 81vw;
    max-height: 81vh;
}