.Slider {

    height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #222;
        position: relative;
        overflow: hidden;

    .slides {
        position: relative;
        width: 750px;
        height: 300px;
    }

    .slide {
        --url: '';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-image: var(--url);
        background-size: cover;
        border-radius: 5px;
        width: 250px;
        height: 300px;
        box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    }


}