.Slider {
    .mySliper {
        min-height: 300px;
    }
    .swiper {
        width: 100%;
        padding-bottom: 50px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 330px;
    }

    .swiper-slide img {
        display: block;
    }
}
