.Slider {
    .mySliper {
        min-height: 350px;
    }
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 330px;
    }

    .swiper-slide img {
        display: block;
    }
}
